/* load font */
/*@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/

@font-face {
    font-family: "Fira Sans";
    src: url("/fonts/fira.ttf") format("truetype");
}

@font-face {
    font-family: "Fira Sans Light";
    src: url("/fonts/fira-light.ttf") format("truetype");
}

:root {
    /* theme colors */
    --color-blue: rgb(60,95,240);
    --color-gray: rgb(102,102,102);

    /* basic colors */
    --color-background: white;
    --color-background-secondary: rgb(225,225,225);
    --color-background-tertiary: rgb(200,200,200);
    --color-text: black;

    /* colors for dark mode */
    @media (prefers-color-scheme: dark) {
        --color-background: rgb(50,50,50);
        --color-background-secondary: rgb(75,75,75);
        --color-background-tertiary: rgb(100,100,100);
        --color-text: white;
    }
}

#sidebar {
    width: 25%;
    height: 100%;
    left: calc(-25% + 50px);
    top: 0px;
    position: fixed;
    background: var(--color-background-secondary);
    border-right: 1px var(--color-gray) solid;
    padding: 10px;
}
#sidebar:hover {
    animation: sidebar 0.5s both;
    animation-direction: alternate;
}
#sidebar:

@keyframes sidebar {
    from {left: calc(-25% + 50px);}
    to {left: 0px;}
}

.main-info {
    /* sizing stuff */
    width: 50%;
    margin: auto;
    margin-top: 10px;

    /* colors */
    background-color: var(--color-background-secondary);
    border: solid 1px var(--color-gray);

    /* align stuff to center */
    text-align: center;
}

a {
    /* make links blue */
    color: var(--color-blue)
}

body {
    /* color */
    background-color: var(--color-background);
    color: var(--color-text);

    /* font */
    font-family: "Fira Sans", sans-serif;
}